html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    height: 20%;
    background-color: yellow;
}

section {
    height: 72%;
    background-color: pink;
}

footer {
    height: 8%;
    background-color: violet;
}